body {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #454545;
}
ul {       
    margin: 0;
    padding: 5px; 
    display: block;
    
    background-color: black;
    width: 100%;
}
li {
    display: inline-block;    
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
}
a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    color: #d6d6d6;
}
header h1 {
    display: inline;
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}
.searchDiv {
    float: right;
    display: flex;    
    flex-direction: column;
    margin-right: 50px;
    width: 15%;
}
.searchDiv ul {
    float: right;
    display: flex;
    position: static;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 7px;
}
.search {
    float: right;    
    margin: 10px;
    border-radius: 25px;
    border-width: 0;
}
.series {    
    position: relative;
    width: 11%;
    margin: 10px;
}
.series img {
    border-radius: 5%;
    border: 3px solid rgb(131, 131, 131);
}
.series-container {    
    display: flex;
    flex-direction: row;
    margin-top: 50px; 
    margin-left: 40px;
}
.series-data {
    position: absolute;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    width: 50%;
    top: 86%;
    right: 30%;
    background-color: black;
    color: white;
    text-align: center;
}
.series-data button {
    background: none;
    border: none;
    color: white;
}
.login {
    position: fixed;
    text-align: center;
    bottom: 50%;
    background-color: black;
    color: white;
    width: 20%;
    height: 40%;
    left: 40%;
    border-radius: 5%;
    z-index: 1;
}
.login form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 35px;
    margin-top: 100px;
}
.login input {
    margin: 5px;
}
.login button {
    margin: 5px;
    width: 30%;
    margin-left: 95px;
}
.register {
    position: fixed;
    text-align: center;
    bottom: 50%;
    background-color: black;
    color: white;
    width: 20%;
    height: 40%;
    left: 40%;
    border-radius: 5%;
    z-index: 1;
}
.register form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 35px;
    margin-top: 100px;
}
.register input {
    margin: 5px;
}
.register button {
    margin: 5px;
    width: 30%;
    margin-left: 95px;
}
.error-notification {
    position: fixed;
    display: none;
    bottom: 10px;
    right: 10px;
    width: 15%;
    height: 8%;
    border-radius: 5%;
    text-align: center;
    margin: auto;
    font-size: 2ch;
    background-color: rgb(247, 48, 48);
}
.details {
    margin: 50px;    
}

.details h1 {
    display: inline;
    position: fixed;
    bottom: 82%;
    left: 25%;
    color: white;
    font-size: 5ch;
}
.details h2 {
    display: inline;
    position: fixed;
    bottom: 81%;
    right: 65%;
    color: white;
    font-size: 2ch;
}
.details p {
    display: inline;
    color: white;
    font-size: 3ch;
}
.overview {
    display: inline;
   position: fixed;
   top: 18%;
   left: 25%;
   width: 50%;
    color: white;
}
